body, html {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
}

.header {
    padding: 5px 15% 5px 15%;  /*T R B L*/
    background: rgb(29, 61, 163);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-logo-item {
    text-decoration: none;
    font-weight: bold;
    font-size: xx-large;
    color: white;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-item {
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
    color: white;
    margin-right: 35px;
}

.header-nav-item-end {
    margin-right: 15%;
}

.header-nav-item:hover {
    text-decoration: underline;
}

.notice {
    border-radius: 5px;
    text-align: center;
    background-color: rgb(245, 245, 245);
    padding: 10px;
}

.temp a {
    text-decoration: none;
    text-align: center;
}
.notice p {
    /* border: 1px solid #ccc;
    border-radius: 5px; */
    /* background-color:rgb(240, 223, 184); */
    padding: 5px;
}

/* .content {
    border-style: solid;
    margin-left: 15%;
    margin-right: 15%;
} */

.content {
    margin-top: 25px;
    padding-left: 15%;
    padding-right: 15%;
}

select {
    width: 150px;
    margin-right: 10px;
}
select:focus {
    min-width: 150px;
    width: auto;
}    

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-row-gap: 20px;
    width: 100%;
    text-align: center;
}

.grid-1 {
    grid-column: 1 / 2;
}

.grid-2 {
    grid-column: span 1;
}

.grid-3 {
    grid-column: span 1;
}

.grid-4 {
    grid-column: span 1;
}

.grid-5 {
    grid-column: span 1;
}

.grid-6 {
    grid-column: span 1;
}

.grid-graph {
    min-height: 200px;
    grid-column: span 3;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    text-align: left;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
}

.graph-label {
    display: block;
    margin-bottom: 25px;
    font-size: large;
}

.graph {
    overflow: hidden;
}

.graph-credit {
    margin-top: 25px;
    text-align: center;
    font-size: small;
}

.count {
    font-size: xxx-large;
}

.count-new {
    font-size: x-large;
    color: red;
}

.count-info {
    font-size: large;
    color: grey;
}

.axis path {
    fill: none;
    stroke: none;
  }

.axis line {
stroke: #ccc;
}

.api-label {
    margin-top: 25px;
}

pre {
    margin-bottom: 20px;
}
.codeblock {
    color: white;
    padding: 7px;
    border: 2px solid #ccc;
    border-radius: 7px;
    background-color: rgb(22, 22, 22);
}

@media (max-width:600px) {
    .span-single {
        grid-column: auto / span 3;
    }
}
  