<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="header">
        <div class="header-logo">
            <a href="/" class="header-logo-item">COVID-19 Dashboard</a>
        </div>
        <div class="header-nav">
            <a href="/api" class="header-nav-item  header-nav-item-end">API</a>
        </div>
    </div>
    {% block notice %}{% endblock %}
    <div class="content">
        {% block body %}{% endblock %}
    </div>
    <br>
    <hr>
    <div style="text-align:center">CHINJSG 2022</div>

    {% block script%}{% endblock %}
</body>
</html>