<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="banner" id="banner">
        <div class="logo">
            <h1><a href="/" class="bannertxt">COVID-19 Dashboard</a></h1>
        </div>
        <br>
        <div class="nav">
            <h3><a href="/api" class="bannertxt">API</a></h3>
        </div>
    </div>
    {% block body %}{% endblock %}
    <br>
    <hr>
    <div style="text-align:center">CHINJSG 2022</div>

    {% block script%}{% endblock %}
</body>
</html>