{% extends 'base.html' %}

{% block head %}
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <title>C19 Dashboard</title>
{% endblock %}

{% block body %}
    <div class="temp">
        <a href="/update">Manual Update</a>
    </div>
    <br>
    <div class="notice">
        <span class="nitem">Notice: Due to current limitations, the data on this web application is not automatically updated. To update, click the manual update button above.</span>
    </div>
    <br>
    <form method="POST">
        <select name="selection" id="selection" onchange="this.form.submit()">
            <option value="{{ options[0] }}" selected>{{ options[0] }}</option>
            {% for sel in options[1] %}
            <option value="{{ sel }}">{{ sel }}</option>
            {% endfor %}
        </select>
    </form>

    <h2>Cases in {{data[-1]['combined_key']}}</h2>
    <h2>{{date}}</h2>

    <div class="wrapper">
        <div class="grid-1">
            <span class="label">Total Cases</span>
            <div class="count">{{dash['total_cases']}}</div>
            <div class="count-new">
                {% if dash['new_cases']==0 %}
                    -
                {% else %}
                    +{{dash['new_cases']}}
                {% endif %}
            </div>
        </div>
        <div class="grid-2">
            <span class="label">7-day Cases (Total)</span>
            <div class="count">{{dash['total_cases_seven']}}</div>
        </div>
        <div class="grid-3">
            <span class="label">7-day Cases (Average)</span>
            <div class="count">{{dash['average_cases_seven']}}</div>
        </div>
        <div class="grid-4">
            <span class="label">Deaths</span>
            <div class="count">{{dash['total_deaths']}}</div>
            <div class="count-new">
                {% if dash['new_cases']==0 %}
                    -
                {% else %}
                    +{{dash['new_deaths']}}
                {% endif %}
            </div>
        </div>
        <div class="grid-5">
            <span class="label">7-day Deaths (Total)</span>
            <div class="count">{{dash['total_deaths_seven']}}</div>
        </div>
        <div class="grid-6">
            <span class="label">7-day Deaths (Average)</span>
            <div class="count">{{dash['average_deaths_seven']}}</div>
        </div>
        <div class="grid-graph">
            <span class="label">Daily New Cases</span>
            <div id="daily-graph"></div>
        </div>
    </div>

    <br>
    <div class="credit">
        Source: <a href="https://github.com/CSSEGISandData/COVID-19">JHU CSSE COVID-19 Data</a>
    </div>

{% endblock %}


{% block script %}
    <script>
        let data = JSON.parse('{{ data | tojson | safe }}');
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/graph.js') }}"></script>
{% endblock %}
